@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
 --primary-text-color: #183b56;
 --secondary-text-color: #577592;
 --accent-color: #2294ed;
 --accent-color-dark: #1d69a3;
--padding-inline-section: 20px;
}
