body{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background: linear-gradient(to right, #007991, #78ffd6);
}

.backg{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form > *{
border: 0;
padding: 10px;
line-height: 40px;
font-size: 20px;
}

.form input[type="submit"]:hover {
    background: #2980b9;
    cursor: pointer;
    color: #fff;
}
