body{
    background-color: #1d1d1d;
}

header{
    height: 80vh;
    background-image: url(cycleman.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(100% 0, 100% 38%, 86% 70%, 0 53%, 0 0);
}