body{
    background: linear-gradient(90deg, #00d2ff, #3a47d5 100%);
    color: #fff;
}

.container{
    height: 100vh;
    width: 100vw;
}

.wrapper{
    margin: 0 auto;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
}

.left, .right{
    height: 100px;
    width: 100px;
    background-color: #fff;
    animation: pump 1.5s linear infinite left right;
}

@keyframes pump {
    
}