* {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  
  body {
    background-color: #d5d5d5;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;
  }

  .flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-top {
    position: absolute;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .mockup{
    height: 500px;
  }

  .form{
    width: 100%;
  }

  .flex-column{
    flex-direction: column;
  }

  .form-section{
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    width: 75%;
  }