/*Inside background-image we can  put any url either web or local */

body{

    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0 5%;
}

nav{
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.brand-img{
    display: flex;
    flex: 1;
}
.brand-img img{
    height: 80px;
}

.nav-logo{
    display: block;
}

.nav-items{
    display: flex;
    flex: 2;   
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    text-decoration: none ;
    color: #fff;
    font-size: 25px;
}

.nav-menu-icon{
    display: none;
}
